<!DOCTYPE html>
<html lang="en">

<head>
	<title>Logbook</title>
	<meta charset="UTF-8">
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap-theme.min.css">
	<link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
	<link rel="stylesheet" type="text/css" href="semantic/dist/semantic.min.css">
	<script src="https://code.jquery.com/jquery-3.1.1.min.js"
		integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
	<script src="semantic/dist/semantic.min.js"></script>
</head>

<body>

	{{{ body }}}

</body>

<!-- jQuery -->
<script type="text/javascript" src="../../public/js/jquery.min.js"></script>
<!-- Bootstrap tooltips -->
<script type="text/javascript" src="../../public/js/popper.min.js"></script>
<!-- Bootstrap core JavaScript -->
<script type="text/javascript" src="../../public/js/bootstrap.min.js"></script>
<!-- MDB core JavaScript -->
<script type="text/javascript" src="../../public/js/mdb.min.js"></script>
<!-- Your custom scripts (optional) -->

<script type="text/javascript" src="../../public/js/logbook.js"></script>
<!-- MDBootstrap Datatables  -->
<script type="text/javascript" src="../../public/js/addons/datatables.min.js"></script>
<!-- Your custom scripts (optional) -->
<script type="text/javascript" src="js/members.js"></script>
<script type="text/javascript" src="js/logbook.js"></script>

</html>