<!DOCTYPE html>
<html lang="en" class="">

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Ham Radio Logbook</title>
  
  <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
  <!-- Google Fonts Roboto -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap">
  <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
  <!-- Material Design Bootstrap -->
    <link rel="stylesheet" href="css/mdb.min.css">
  <!-- Your custom styles (optional) -->
    <link rel="stylesheet" href="./css/logbook.css">
  <!-- MDBootstrap Datatables  -->
  <link href="css/addons/datatables.min.css" rel="stylesheet">

</head>

<body>

	{{{ body }}}

</body>

<!-- jQuery -->
<script type="text/javascript" src="../../public/js/jquery.min.js"></script>
<!-- Bootstrap tooltips -->
<script type="text/javascript" src="../../public/js/popper.min.js"></script>
<!-- Bootstrap core JavaScript -->
<script type="text/javascript" src="../../public/js/bootstrap.min.js"></script>
<!-- MDB core JavaScript -->
<script type="text/javascript" src="../../public/js/mdb.min.js"></script>
<!-- Your custom scripts (optional) -->

<script type="text/javascript" src="../../public/js/logbook.js"></script>
<script type="text/javascript" src="../../public/js/profile-page.js"></script>
<script type="text/javascript" src="../../public/js/members.js"></script>
<!-- MDBootstrap Datatables  -->
<script type="text/javascript" src="../../public/js/addons/datatables.min.js"></script>
<!-- Your custom scripts (optional) -->


</html>