html,
body,
header,
.view {
  height: 100%;
  overflow-x: auto;
  overflow-y: auto;
}

@media (max-width: 1199px) {
  html,
  body,
  header,
  .view {
    height: 100vh;
  }
}

.top-nav-collapse {
  background-color: #78909c !important;
}

.navbar:not(.top-nav-collapse) {
  background: transparent !important;
}

.nav-link.nav-login {
    margin-right: 15px;
} 

.nav-link.nav-signup {
    margin-left: 13px;
    margin-right: 10px;
}

.vertical {
    border-left: 2px solid rgb(0, 0, 0); 
    height: 55px; 
    position: absolute; 
}

@media (max-width: 991px) {
  .navbar:not(.top-nav-collapse) {
    background: #78909c !important;
  }
}

.row.row-content {
    margin-top: 350px;
}

h2 {
    letter-spacing: 6px;
}

h1 {
  letter-spacing: 8px;
  margin-left: 10px;
  color: rgb(0, 0, 0);
  font-weight: 400;
}

h4 {
  color: #000;
}

h5 {
  letter-spacing: 2px;
}

.nav-link.nav-login  {
  margin-bottom: 10px;
}

.hr-light {
  border-top: 3px solid #fff;
  width: 80px;
}

.container.container-1 {
  margin-top: 180px;
  margin-bottom: 75px;
}

.page-footer.mdb-color.lighten-3.text-center.text-md-left{
  background-color: #899093 !important;
  bottom: 0;

}
