html,
body,
header,
.view {
  height: 100%;
}

@media (max-width: 1199px) {
  html,
  body,
  header,
  .view {
    height: 100vh;
  }
}


.top-nav-collapse {
  background-color: #78909c !important;
}

.navbar:not(.top-nav-collapse) {
  background: transparent !important;
}

.nav-link.nav-login {
    margin-right: 15px;
} 

.nav-link.nav-signup {
    margin-left: 13px;
    margin-right: 10px;
}

.vertical {
    border-left: 2px solid white; 
    height: 55px; 
    position: absolute; 
}

@media (max-width: 991px) {
  .navbar:not(.top-nav-collapse) {
    background: #78909c !important;
  }
}

.row.row-content {
    margin-top: 350px;
}

h2 {
    letter-spacing: 6px;
}

h1 {
  letter-spacing: 8px;
  margin-left: 10px;
}

h5 {
  letter-spacing: 2px;
}

h3 {
  color: rgb(252, 241, 98);
  
}

.hr-light {
  border-top: 3px solid #fff;
  width: 80px;
}

.card.card-main {
  margin-top: 180px;
  margin-left: 50px;
  margin-right: 50px;
}

.pt-3-half {
  padding-top: 1.4rem;
  }