html,
body,
header,
.jarallax {
  height: 700px;
  background-color: rgb(240, 240, 240);
}

@media (max-width: 740px) {
  html,
  body,
  header,
  .jarallax {
    height: 100vh;
  }
}

  @media (min-width: 800px) and (max-width: 850px) {
  html,
  body,
  header,
  .jarallax {
    height: 100vh;
  }
}

@media (min-width: 560px) and (max-width: 660px) {
  header .jarallax h5 {
    display: none !important;
  }
}

.navbar.navbar-expand-lg.navbar-dark.fixed-top.scrolling-navbar {
  position: absolute;
}

.page-footer {
  margin-top: 0px;
  padding-top: 0px;
}

h3 {
  color: rgb(252, 241, 98);
  
}

.my-3.font-weight-bold {
  color: black;
}

.pt-3-half {
  padding-top: 1.4rem;
  }

.card.card-main {
  margin-top: 10px;
  margin-bottom: 40px;
}


/* MAPS */

.map-container{
  overflow:hidden;
  padding-bottom:56.25%;
  position:relative;
  height:0;
  margin-top: 10px;
  margin-bottom: 40px;
  }

.map-container iframe{
  left:0;
  top:0;
  height:100%;
  width:100%;
  position: absolute;
  }

.page-footer.mdb-color.lighten-3.text-center.text-md-left {
  background-color: #899093 !important;
}
